@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #fff;
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-size: 5vw;
  text-align: center;
  text-shadow: 5px 5px rgba(0, 0, 0, 0.2);
}

.container {
  min-width: 80vw;
  margin: 10px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slides {
  position: relative;
}

.slide {
  overflow: hidden;
  height: 0;
  opacity: 0;
  transition: all 1s ease-out;
}

.slide img {
  width: 100%;
  border: 5px solid #999;
  border-radius: 10px;
}

.active {
  height: auto;
  opacity: 1;
}

.prev,
.next {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2vw;
  width: 5vw;
  height: 5vw;
  border-radius: 50%;
  font-weight: bold;
  color: #fff;
  background-color: #4a4b49;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  margin: 3px;
  position: absolute;
  visibility: hidden;
  z-index: 1;
}

.next {
  right: 5%;
  top: 40%;
}

.prev {
  left: 5%;
  top: 40%;
}

.visible {
  visibility: visible;
}

.prev:hover,
.next:hover {
  background-color: #fff;
  color: #ccc;
  cursor: pointer;
}

.dots {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80vw;
  margin: 10px auto;
  gap: 10px;
}

.dot {
  width: 2vw;
  height: 2vw;
  border: 1px solid #999;
  border-radius: 50%;
  transition: all 1s ease-out;
}

.active-dot {
  background-color: #999;
}
